body {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px auto;
background-color: white;
}

.wrapper {
margin: 0 auto;
}

.isab-main-button {
font-size: 20px;
font-weight: 800;
cursor: pointer;
color: white;
position: absolute;
left: -20;
top: -4;
}

.nav-item {
color: white;
display: inline-block;
padding-right: 5px;
padding-left: 5px;
font-weight: 100;
font-size: 13px;
cursor: pointer;
}

.intro-box {
position: relative;
}

.nav-bar {
position: absolute;
left: 50px;
top: 2px;
}

#isab-tagline {
position: absolute;
color: white;
top: 70%;
left: 60%;
font-size: 27px;
width: 275px;
}

.big-question {
text-align: center;
padding-top: 70px;
padding-bottom: 40px;
font-size: 35px;
font-weight: 200;
}

.text-desc {
padding: 0px 200px 50px 200px;
line-height: 35px;
font-weight: 300;
text-align: center;
}

.pic-box {
position: relative;
}

#pic2-comment {
bottom: 55%;
position: absolute;
color: white;
left: 50%;
font-size: 27px;
font-weight: 100;
}

#pic-comment {
bottom: 11%;
position: absolute;
color: white;
left: 43%;
font-size: 27px;
font-weight: 100;
}

.white-interm {
background-color: white;
}

.filler {
height: 100px;
}

#join-us {
background-color: #39c9bb;
}

.box {
display: inline-block;
width: 397px;
}

.box-title {
text-align: center;
font-weight: 700;
padding-bottom: 20px;
}

.box-desc {
text-align: center;
padding: 20px 40 30 40;
font-size: 13px;
font-weight: 100;
}

.box-img {
padding: 0 20 0 20;
}

#box-container {
margin-bottom: 70px;
width: 1200px;
margin: 0 auto;
}

#apply-button {
position: absolute;
background-color: white;
padding: 10px;
color: black;
font-size: 12px;
font-weight: bold;
top: 299px;
left: 47%;
cursor: pointer;
}

.info-box-desc {
padding: 0 150 0 150;
line-height: 160%;
font-weight: 100;
color: white;
}

.info-box-title {
text-align: center;
color: white;
padding: 50 0px 30 0;
font-size: 35;
font-weight: 100;
}

.info-box {
background-color: #3498db;
position: relative;
padding-bottom: 50px;
}

#line-sep {
margin: 0 350 0 350;
background-color: black;
height: 1px;
margin-bottom: 50;
}

.my-note {
position: absolute;
right: 50px;
font-size: 13px;
color: white;
top: 23px;
}

.bottom-nav {
background-color: #2f353e;
height: 70;
position: relative;
}

.cons-isab-main {
font-size: 20px;
font-weight: 800;
cursor: pointer;
color: white;
position: absolute;
left: -20;
top: -4;
}

.cons-bar {
position: absolute;
left: 50px;
top: 4px;
}

.cons-nav-item {
display: inline-block;
padding-right: 5px;
padding-left: 5px;
font-weight: 100;
font-size: 13px;
cursor: pointer;
color: white;
}

.bios {
margin-top: 50px;
}

.officers-pic {
width: 150px;
position: absolute;
}


.officers-pic {
width: 150px;
left: 100px;
position: relative;
}

.officers-name {
left: 300;
position: relative;
font-weight: bold;
width: 400;
font-size: 20;
bottom: 200;
}

.officers-origin {
position: relative;
bottom: 190px;
left: 300px;
width: 400;
font-style: italic;
font-size: 14;
font-weight: 100;
}

.officers-bio {
position: relative;
left: 300px;
width: 500;
bottom: 170;
font-size: 12;
}

.officers-officer {
padding-left: 130px;
height: 250px;
padding-top: 50px;
border-bottom: 1px solid #e6e6e6;
}

#join-title {
text-align: center;
padding: 50 0px 30 0;
font-size: 35;
font-weight: 100;
color: white;
background-color: #3498db;
}

#join-desc {
padding: 0 150 50 150;
line-height: 160%;
font-weight: 100;
color: white;
background-color: #3498db;
}

#join-statement {
padding: 30 30 30 30;
text-align: center;
font-weight: bold;
color: white;
padding-bottom: 50px;
background-color: #3498db;
}

.q-message {
position: absolute;
left: 16;
font-size: 13px;
color: white;
top: 23px;
}

.consistent-top-bar {
padding-bottom: 23px;
background-color: #2f353e;
padding-top: 1;
color: white;
height: 43;
}

.fbook-icon {
width: 30px;
right: 25px;
position: absolute;
top: 3%;
cursor: pointer;
}

.twitter-icon {
width: 30px;
right: 70px;
position: absolute;
top: 3%;
cursor: pointer;
display: none;
}

.pic-tag {
position: absolute;
top: 67px;
color: white;
padding: 20 50 20 50;
font-size: 35;
background-color: rgba(52,152,219,0.6);
}

#banner-title {
position: absolute;
top: 34%;
left: 40%;
font-size: 40;
color: white;
}

#contact-title {
background-color: #246a99;
color: white;
font-size: 40;
padding-top: 40;
padding-left: 40;
padding-bottom: 30;
}

#contact-wrapper {
background-color: #3498db;
}

#contact-box {
margin: 20 500 70 70;
position: absolute;
top: 200px;
width: 400px;
height: 500;
background-color: rgba(360, 360, 360, 0.5);
left: 70px;
}

.contact-box-title {
font-weight: bold;
font-size: 20;
padding: 20 0 0 50;
}

.contact-title {
padding: 20 0 0 70;
font-weight: bold;
}

.contact-item {
padding: 0 0 0 90;
font-size: 14;
font-weight: 100;
}

.contact-email {
padding: 0 0 8 90;
font-size: 13;
font-weight: bold;
}

#contact-title {
color: white;
font-size: 40;
padding-top: 40;
padding-left: 40;
padding-bottom: 30;
padding-right: 40;
position: absolute;
background-color: rgba(52,152,219,0.4);
}

#mess-wrap {
margin: 20 500 70 70;
position: absolute;
top: 200px;
width: 400px;
height: 500;
background-color: rgba(360, 360, 360, 0.5);
left: 560px;
}

.message-item {
padding: 10 0 0 70;
font-size: 14;
font-weight: 100;
}

.small-input {
border: 3px solid black;
padding: 10px;
background: transparent;
margin: 0px;
margin-bottom: 20px;
font-size: 12px;
font-weight: 700;
margin-left: 60px;
width: 280px;
color: black;
}

::-webkit-input-placeholder {
    color: black;
}

#big-input {
border: 3px solid black;
padding: 10px;
background: transparent;
margin: 0px;
margin-bottom: 20px;
font-size: 12px;
font-weight: 700;
margin-left: 60px;
width: 280px;
color: black;
}

#contact-button {
margin-left: 277;
margin-top: 7;
background-color: white;
width: 50px;
font-size: 12;
font-weight: bold;
text-align: center;
padding: 5px;
border: 0;
}

#send-button {
margin-left: 277;
margin-top: 7;
background-color: white;
width: 60px;
font-size: 12;
font-weight: bold;
text-align: center;
padding: 5px;
border: 0;
}

#ev-ban-title {
position: absolute;
top: 44%;
left: 42%;
font-size: 40;
color: white;
}

#upcoming-wrapper {
background-color: #f7f5f2;
padding-bottom: 10;
}

.event-topic-title {
padding: 30 0px 20 50;
font-size: 30;
font-weight: 100;
}

.upcoming-event {
padding: 20 20 20 20;
margin-top: 30px;
background-color: white;
margin: 30 200 40 200;
border-radius: 10%;
}

.upcoming-event-title {
font-weight: bold;
font-size: 25;
text-align: center;
padding-top: 10;
padding-bottom: 10;
}

.upcoming-event-deets {
text-align: center;
font-size: 14;
margin-bottom: 23px;
}

.upcoming-event-expl {
padding: 20 30 10 30;
font-size: 14;
font-weight: 100;upc
}

#past-wrapper {
background-color: #edeae5;
padding-bottom: 10;
}

#isab-main-logo {
position: absolute;
top: 15%;
width: 53%;
left: 13%;
}